
table{
    border-radius: 2px;
    width: 50%;
    background-color: rgb(236, 255, 127);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20%;
    
    
    
}


img{
    width: 100%;
    height: 253px;
}

span{
   font-weight: bolder;
   color: black;
}

h1{
    color: blueviolet;
    
}

p{
    font-weight: bolder;
}


td{
    width: 50%;
    vertical-align: top;
    text-align: left;
       
}

tr.p1{
    text-align: left;
}

body{
    background-image: url(blau.jpg) ;
    background-size: 100%;
    
}
